/* calendar style */

#calendarDiv {
	display: block;
	display: none;
	position: relative;
	border: 1px Solid #05380B;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
#calendar {
	background: #05380B;
	clear: both;
	text-align: center;
}
#calendar, #linksTable {
	width: 180px;
}
#calendar .calendarHeader {
	background: #05380B;
	border-bottom: 1px solid #444;
	color: #05380B;
	padding: 2px 4px;
}
#calendar .calendarHeader a {
    color: #E6FFCC;
}
#calendar .weekDaysTitleRow {
	background: #CCFF99;
	color: #000;
}
#calendar .weekDaysRow {
	background: #E6FFCC;
	color: #666;
}
#calendar .weekDaysCell {
	color: #999;
	border: 1px solid #ddd;
}
#calendar .weekDaysCellOver {
	background: #E6FFCC;
	border: 1px solid #05380B;
}
#calendarDiv a {
	cursor: pointer;
	color: #000;
}
#linksTable {
	background: #000;
}
#linksTable a {
	display: block;
	color: #E6FFCC;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 80%;
	padding: 2px 5px;
}
#linksTable a:hover {
	background: #ddd;
	color: #333;
}
#prevMonth {
	float: left;
}
#nextMonth {
	float: right;
}
#today {
	background: #999;
}


