@charset "utf-8";
/* CSS Document */
body
	{
		margin:0px;
		padding:0px;
		background-color:#f4e7bd;
	}
h3,h4,h5,h6,span
	{
		margin:0px;
		padding:0px;
	}
#headerbg
	{
		width:100%;
		height:309px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/header.gif);
		background-repeat:repeat-x;
	}
#headerblank
	{
		width:1004px;
		height:309px;
		float: none;
		margin:0 auto;
		padding:0px;
	}
#header
	{
		width:1004px;
		height:309px;
		float: left;
		margin:0px;
		padding:0px;
		background-image:url(images/header.png);
		background-repeat:no-repeat;
	}
#menu
	{
		width:385px;
		height:33px;
		float: right;
		margin:133px 51px 0 0;
		padding:0px;
	}
#menu ul
	{
		width:385px;
		height:33px;
		float:left;
		margin:0px;
		padding:0px;
		display:block;
	}
#menu ul li
	{
		width:76px;
		height:33px;
		float:left;
		margin:0 1px 0 0;
		padding:0px;
		display:block;		
	}
#menu ul li a.menu
	{
		width:76px;
		height:26px;
		float:left;
		margin:0px;
		padding:7px 0 0 0;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#FFF;
		text-align:center;
		text-decoration:none;
		background-image:url(images/menu.jpg);
		background-repeat:no-repeat;
	}	
#menu ul li a.menu:hover
	{
		width:76px;
		height:26px;
		float:left;
		margin:0px;
		padding:7px 0 0 0;
		font-family:Arial;
		font-size:13px;
		font-weight:bold;
		color:#FFF;
		text-align:center;
		text-decoration:none;
		background-image: url(images/menuover.jpg);
		background-repeat:no-repeat;		
	}
#login
	{
		width:649px;
		height:106px;
		float: right;
		margin:35px 53px 0 0;
		padding:0px;
		background-image:url(images/loginbg.jpg);
		background-repeat:no-repeat;
	}
#logout
	{
		width:649px;
		height:106px;
		float: right;
		margin:35px 53px 0 0;
		padding:0px;
		background-image:url(images/loginbg.jpg);
		background-repeat:no-repeat;
	}
#logintxtblank
	{
		width:622px;
		height:89px;
		float: left;
		margin:0px;
		padding:17px 0 0 27px;
		font-family:Arial;
	}
	
#loginheading
	{
		width:622px;
		height:21px;
		float: left;
		margin:0 0 8px 0;
		padding:0px;
		font-family:Arial;
		font-size:20px;
		color:#000;
	}
	
#loginheading h4
	{
		width:622px;
		height:21px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:20px;
		font-weight:normal;
		color:#000;
	}
	
	#loginheading3 h4
	{
		width:622px;
		height:21px;
		float: left;
		margin:15px;
		padding:0px;
		font-family:Arial;
		font-size:20px;
		font-weight:normal;
		color:#000;
	}
#username
	{
		width:48px;
		height:14px;
		float: left;
		margin:0px;
		padding:7px 0 0 0;
		font-family:Arial;
		font-size:12px;
		color:#95844d;
	}
#input
	{
		width:197px;
		height:21px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:10px;
		color:#95844d;
	}
#password
	{
		width:69px;
		height:14px;
		float:left;
		margin:0px;
		padding:7px 0 0 23px;
		font-family:Arial;
		font-size:12px;
		color:#95844d;
	}
#input02
	{
		width:197px;
		height:21px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:10px;
		color:#95844d;
	}
.input
	{
		width:181px;
		height:17px;
		float: left;
		margin:0px;
		padding:4px 0 0 16px;
		font-family:Arial;
		font-size:10px;
		color:#95844d;
		border:solid 1px #ead28b;
		background-color:#ead28b;
	}
#loginbutton
	{
		width:50px;
		height:23px;
		float:left;
		margin:0 0 0 20px;
		padding:0px;
	}
#logoutbutton
	{
		width:100px;
		height:23px;
		float:left;
		margin:0 0 0 20px;
		padding:0px;
	}
#cambiarcontrasenabutton
	{
		width:100px;
		height:23px;
		float:left;
		margin:0 0 0 20px;
		padding:0px;
	}
.login
	{
		width:50px;
		height:19px;
		float:left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:10px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/login.jpg);
		background-repeat:no-repeat;
	}
.logout
	{
		width:99px;
		height:23px;
		float:left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:10px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/cambiarContrasena.jpg);
		background-repeat:no-repeat;
	}
.login:hover
	{
		width:50px;
		height:19px;
		float:left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:10px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image: url(images/loginover.jpg);
		background-repeat:no-repeat;
	}

.logout:hover
	{
		width:99px;
		height:23px;
		float:left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:10px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/cambiarContrasenaover.jpg);
		background-repeat:no-repeat;
	}
#member
	{
		width:135px;
		height:14px;
		float: left;
		margin:9px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:13px;
		color:#ab8e4e;
	}
#register
	{
		width:200px;
		height:14px;
		float: left;
		margin:9px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:13px;
		color:#943415;
	}
.register
	{
		font-family: Arial;
		font-size:13px;
		color:#943415;
		text-decoration:none;
	}
.register:hover
	{
		font-family: Arial;
		font-size:13px;
		color:#943415;
		text-decoration: underline;
	}	
#register2
	{
		width:200px;
		height:14px;
		float: left;
		margin:5px 0 0 0;
		padding:20px;
		font-family: Arial;
		color:#943415;
		font-size:20;
		text-align:center;
	}
/*-------------------------------------------------------------------------------------HEADERPART--------------------------------------------------END--------------------------------------*/	
#contentbg
	{
		width:100%;
		float:left;
		margin:0px;
		padding:0px;
	}
#contentblank
	{
		width:1004px;
		float: none;
		margin:0 auto;
		padding:0px;
	}		
#content
	{
		width:1004px;
		float: left;
		margin:0px;
		padding:0px;
	}
#contentleft
	{
		width:215px;
		float: left;
		margin:0px;
		padding:34px 0 33px 52px;
	}
#leftheading
	{
		width:216px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		color:#7e8901;
		text-align:center;
	}
#leftheading h4
	{
		width:216px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		font-weight:normal;
		color:#7e8901;
	}
.lefttxtblank
	{
		width:195px;
		height:77px;
		float: left;
		margin:20px 0 0 0;
		padding:0px;
	}
.lefttxtblank02
	{
		width:195px;
		height:77px;
		float: left;
		margin:33px 0 0 0;
		padding:0px;
	}
.lefticon
	{
		width:36px;
		height:28px;
		float: left;
		margin:0px;
		padding:6px 0 0 0;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		text-align:center;
		background-image:url(images/lefticon.jpg);
		background-repeat:no-repeat;
	}
.leftboldtxtblank
	{
		width:150px;
		height:34px;
		float: left;
		margin:0px;
		padding:0 0 0 9px;
	}
.leftboldtxt
	{
		width:147px;
		height:13px;
		float: left;
		margin:0px;
		padding:0 0 0 3px;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#b22d00;
	}
.lefttxt
	{
		width:132px;
		height:13px;
		float:left;
		margin:0px;
		padding:0 0 0 18px;
		font-family:Arial;
		font-size:9px;
		font-weight: normal;
		color:#464646;
		background-image:url(images/lefttxtbg.jpg);
		background-repeat:no-repeat;
	}
.leftnormaltxt
	{
		width:194px;
		float:left;
		margin:4px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		font-weight: normal;
		color:#464646;
	}
.morebutton
	{
		width:194px;
		float:left;
		margin:7px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		font-weight: normal;
		color:#464646;
	}
.more
	{
		font-family:Arial;
		font-size:11px;
		font-weight: normal;
		color:#a5122a;
		text-decoration:none;
	}
.more:hover
	{
		font-family:Arial;
		font-size:11px;
		font-weight: normal;
		color:#a5122a;
		text-decoration: underline;
	}
#leftnavheading
	{
		width:216px;
		float: left;
		margin:35px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		color:#7e8901;
	}
#leftnavheading h4
	{
		width:216px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		font-weight:normal;
		color:#7e8901;
	}
#leftnav
	{
		width:194px;
		float: left;
		margin:0px;
		padding:0px;
	}
#leftnav ul
	{
		width:194px;
		float: left;
		margin:0px;
		padding:0px;
		display:block;
	}
#leftnav ul li
	{
		width:194px;
		height:21px;
		float: left;
		margin:0px;
		padding:0px;
		display:block;		
	}
#leftnav ul li a.leftnav
	{
		width:175px;
		height:18px;
		float: left;
		margin:0px;
		padding:3px 0 0 19px;
		font-family:Arial;
		font-size:12px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;
		background-image:url(images/leftnavactive.jpg);
		background-repeat:no-repeat;
	}
#leftnav ul li a.leftnav:hover
	{
		width:175px;
		height:18px;
		float: left;
		margin:0px;
		padding:3px 0 0 19px;
		font-family:Arial;
		font-size:12px;
		font-weight: bold;
		color:#b22d00;
		text-decoration:none;		
		background-image:url(images/leftnavactive.jpg);
		background-repeat:no-repeat;
	}
#leftnav ul li a.leftnavbot
	{
		width:175px;
		height:18px;
		float: left;
		margin:0px;
		padding:3px 0 0 19px;
		font-family:Arial;
		font-size:12px;
		font-weight: normal;
		color:#464646;
		text-decoration:none;		
		background-image:url(images/leftnavbot.jpg);
		background-repeat:no-repeat;
	}
#leftnav ul li a.leftnavbot:hover
	{
		width:175px;
		height:18px;
		float: left;
		margin:0px;
		padding:3px 0 0 19px;
		font-family:Arial;
		font-size:12px;
		font-weight: bold;
		color:#b22d00;
		text-decoration:none;		
		background-image:url(images/leftnavbot.jpg);
		background-repeat:no-repeat;
	}
  
  /* ----- MENU DE FASES ----- */
#menu_f
{
    width:165px;
    float:left;
    padding:0px;
}

/*-------------------------------------------------------------------------------------LEFTRPART----------------------------------------------------------------END--*/	
#contentmid
	{
		width:435px;
		float:left;
		margin:22px;
		padding:34px 0 33px 34px;
		background-image:url(images/vline.jpg);
		background-repeat:repeat-y;
		font-family: Arial;
		font-size:12px;
		color:#464646;
		text-align:justify;
	}
.midheading
	{
		width:435px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:28px;
		color:#7e8901;
		text-align:center;
	}
.midheading h2
	{
		width:435px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:28px;
		font-weight:normal;
		color:#7e8901;
	}
.midtxt
	{
		width:400px;
		float: left;
		margin:22px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:12px;
		color:#464646;
		text-align:justify;
	}
	
	
.midboldtxt
	{
		font-family: Arial;
		font-size:12px;
		font-weight:bold;
		color:#b22d00;
	}
#comments
	{
		width:400px;
		height:25px;
		float: left;
		margin:22px 0 44px 0;
		padding:0px;
		background-image:url(images/commentsbg.jpg);
		background-repeat:no-repeat;
	}
#addcomments
	{
		width:82px;
		height:17px;
		float: left;
		margin:0px;
		padding:7px 0 0 34px;
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
	}
.addcomments
	{
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
		text-decoration:none;
	}
.addcomments:hover
	{
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
		text-decoration: underline;
	}
#morecomments
	{
		width:72px;
		height:17px;
		float: left;
		margin:0px;
		padding:7px 0 0 28px;
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
	}
.morecomments
	{
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
		text-decoration:none;
	}
.morecomments:hover
	{
		font-family: Arial;
		font-size:11px;
		color:#8b2c00;
		text-decoration: underline;
	}
.projectheading
	{
		font-family:Arial;
		font-size:12px;
		color:#c0943c;
		padding:0 0 0 14px;
	}
#projectbg
	{
		width:401px;
		height:158px;
		float:left;
		margin:18px 0 34px 0;
		padding:0px;
		background-image:url(images/projectbg.jpg);
		background-repeat:no-repeat;
	}
	
	#projectbg3
	{
		width:401px;
		height:158px;
		float:left;
		margin:18px 0 34px 0;
		padding:0px;
		background-image:url(images/avila.jpg);
		background-repeat:no-repeat;
		text-align:center
	}
#projectthumnail
	{
		width:130px;
		height:117px;
		float:left;
		margin:15px 0 0 15px;
		padding:0px;
		border:solid 3px #ebd693;
		background-image: url(images/farmatodo.jpg);
		background-repeat:no-repeat;
	}
	
#projectthumnail2
	{
		width:130px;
		height:117px;
		float:left;
		margin:15px 0 0 15px;
		padding:0px;
		border:solid 3px #ebd693;
		background-image: url(images/pg.jpg);
		background-repeat:no-repeat;
	}
#projecttxtblank
	{
		width:219px;
		float:left;
		margin:15px 0 0 0;
		padding:20px 0 0 0;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
	}
	
#projecttxtblank2
	{
		width:365px;
		float:left;
		margin:15px  0 0 0;
		padding:20px;
		text-align:justify;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		color:#853008;
	}
	
#projecttxt
	{
		width:206px;
		float:left;
		margin:0px;
		padding:0 0 0 13px;
		font-family:Arial;
		font-size:12px;
		color:#464646;
	}
.projectboldtxt
	{
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#853008;
	}
 #projectbg2
	{
		width:401px;
		height:450px;
		float:left;
		margin:18px 0 34px 0;
		padding:0px;
		background-image:url(images/cuadro.jpg);
		background-repeat:no-repeat;
	}
 #projectbg22
	{
		width:401px;
		height:1050px;
		float:left;
		margin:18px 0 34px 0;
		padding:0px;
		background-image:url(images/cuadro2.jpg);
		background-repeat:no-repeat;
	}




	
#moreproject
	{
		width:194px;
		float:left;
		margin:0px;
		padding:5px 0 0 25px;
	}
.moreproject
	{
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-decoration:none;
	}
.moreproject:hover
	{
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-decoration: underline;
	}
#purposetxt
	{
		width:399px;
		float:left;
		margin:20px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		color:#464646;
	}
#purposenav
	{
		width:435px;
		float:left;
		margin:0px;
		padding:14px 0 0 0;
	}
#purposenav ul
	{
		width:188px;
		float:left;
		margin:0 24px 0 0;
		padding:0px;
		display:block;		
	}
#purposenav ul li
	{
		width:188px;
		height:21px;
		float:left;
		margin:8px 0 0 0;
		padding:0px;
		display:block;
	}
#purposenav ul li a.purposenav
	{
		width:168px;
		height:18px;
		float:left;
		margin:0px;
		padding:3px 0 0 20px;
		font-family:Arial;
		font-size:11px;
		color:#c17305;
		text-decoration:none;
		background-image:url(images/purposeactive.jpg);
		background-repeat:no-repeat;
	}
#purposenav ul li a.purposenav:hover
	{
		width:168px;
		height:18px;
		float:left;
		margin:0px;
		padding:3px 0 0 20px;
		font-family:Arial;
		font-size:11px;
		color:#c17305;
		text-decoration:none;
		background-image: url(images/purposeover.jpg);
		background-repeat:no-repeat;
	}
/*-------------------------------------------------------------------------------------MIDPART------------------------------------------------------------END---------*/		
#contentright
	{
		width:180px;
		float: left;
		margin:0px;
		padding:34px 0 40px 34px;
		background-image:url(images/vline.jpg);
		background-repeat:repeat-y;
	}
.rightheading
	{
		width:180px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		color:#7e8901;
	}
.rightheading h4
	{
		width:180px;
		float: left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:22px;
		font-weight:normal;
		color:#7e8901;
	}
#galleryblank
	{
		width:180px;
		float:left;
		margin:21px 0 0 0;
		padding:0px;
	}
#rightpic
	{
		width:700px;
		height:500px;
		float:left;
		margin:0px;
		padding:0px;
	}
.rightpic
	{
		width:700px;
		height:500px;
		float:left;
		margin:0px;
		margin-left:40px;
		padding:0px;
		background-image:url(images/capacitacion.jpg);
		background-repeat:no-repeat;
	}
.rightpic:hover
	{
		width:700px;
		height:500px;
		float:left;
		margin:0px;
		margin-left:40px;
		padding:0px;
		background-image:url(images/capacitacion.jpg);
		background-repeat:no-repeat;
	}
#rightpic02
	{
		width:500px;
		height:68px;
		float:left;
		margin:13px 0 0 0;
		padding:0px;
	}
.rightpic02
	{
		width:500px;
		height:68px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/1foro.jpg);
		background-repeat:no-repeat;
	}
.rightpic02:hover
	{
		width:500px;
		height:68px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/1foro.jpg);
		background-repeat:no-repeat;
	}
	
#rightpic03
	{
		width:180px;
		height:68px;
		float:left;
		margin:13px 0 0 0;
		padding:0px;
	}
.rightpic03
	{
		width:180px;
		height:68px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/derrumbe.jpg);
		background-repeat:no-repeat;
	}
.rightpic03:hover
	{
		width:180px;
		height:68px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/derrumbe.jpg);
		background-repeat:no-repeat;
	}
.viewbutton
	{
		width:68px;
		height:19px;
		float:left;
		margin:16px 0 36px 0;
		padding:0px;
	}
.viewbuttonbot
	{
		width:68px;
		height:19px;
		float:left;
		margin:16px 0 0 0;
		padding:0px;
	}	
.view
	{
		width:68px;
		height:16px;
		float:left;
		margin:0px;
		padding:3px 0 0 0;
		font-family: Arial;
		font-size:9px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/viewmore.jpg);
		background-repeat:no-repeat;
	}
.view:hover
	{
		width:68px;
		height:16px;
		float:left;
		margin:0px;
		padding:3px 0 0 0;
		font-family: Arial;
		font-size:9px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image: url(images/viewmoreover.jpg);
		background-repeat:no-repeat;
	}
.righttxt
	{
		width:177px;
		float:left;
		margin:21px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		color:#464646;
	}
.rightboldtxt
	{
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#b22d00;
	}
/*--------------------------------------------------------------CONTENTPART-------------------------------------------------END--------------------------------------------------------------*/	
#footerbg
	{
		width:100%;
		height:354px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/footerbg.jpg);
		background-repeat:repeat-x;
	}
#footerblank
	{
		width:1004px;
		height:354px;
		float:none;
		margin:0 auto;
		padding:0px;
	}
#footer
	{
		width:858px;
		height:313px;
		float:left;
		margin:0px;
		padding:41px 0 0 146px;
		background-image:url(images/footer.jpg);
		background-repeat:no-repeat;
	}
#footerbox
	{
		width:215px;
		height:168px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/footerbox.jpg);
		background-repeat:no-repeat;
	}
#footermid
	{
		width:215px;
		height:168px;
		float:left;
		margin:0 35px 0 35px;
		padding:0px;
		background-image:url(images/footerbox.jpg);
		background-repeat:no-repeat;
	}
#footerlast
	{
		width:215px;
		height:168px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/footerbox.jpg);
		background-repeat:no-repeat;
	}
.footerheading
	{
		width:215px;
		height:21px;
		float: left;
		margin:28px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:24px;
		color:#f4e7bd;
	}
.footerheading h4
	{
		width:215px;
		height:21px;
		float: left;
		margin:0px;
		padding:0px;
		font-family: Arial;
		font-size:24px;
		font-weight:normal;
		color:#f4e7bd;
		text-align:center;
	}
.footertxt
	{
		width:184px;
		float: left;
		margin:17px 0 0 16px;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#FFF;
		text-align:center;
	}
.footerbutton
	{
		width:68px;
		height:19px;
		float: left;
		margin:15px 0 0 73px;
		padding:0px;
	}
.button
	{
		width:68px;
		height:15px;
		float: left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:9px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/footerbutton.jpg);
		background-repeat:no-repeat;
	}
.button:hover
	{
		width:68px;
		height:15px;
		float: left;
		margin:0px;
		padding:4px 0 0 0;
		font-family:Arial;
		font-size:9px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image: url(images/footerover.jpg);
		background-repeat:no-repeat;
	}
#footerlinks
	{
		width:715px;
		float:left;
		margin:25px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#ee7e1f;
		text-align:center;
		text-decoration:none;
	}
.footerlinks
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#ee7e1f;
		text-align:center;
		text-decoration:none;
		padding:0 3px 0 3px;
	}
.footerlinks:hover
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#ee7e1f;
		text-align:center;
		text-decoration: underline;
		padding:0 3px 0 3px;		
	}
#copyrights
	{
		width:715px;
		float:left;
		margin:5px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		color:#FFFFFF;
		text-align:center;
	}
#designedby
	{
		width:715px;
		float:left;
		margin:5px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#401400;
		text-align:center;
	}
	
#venezuela
	{
		width:145px;
		float:left;
		margin:5px 0 0 0;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#FFFFFF;
		text-align:center;
		background-image:url(images/bandera.jpg);
		background-repeat:no-repeat; 
	}
.designedby
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#ee7e1f;
		text-align:center;
		text-decoration:none;
	}
.designedby:hover
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#ee7e1f;
		text-align:center;
		text-decoration:underline;
		}

#validation
	{
		width:422px;
		float:left;
		margin:5px 0 0 0;
		padding:0 0 0 293px;
	}
.xhtml
	{
		width:66px;
		height:17px;
		float: left;
		margin:0px;
		padding:1px 0 0 0;
		font-family:Arial;
		font-size:11px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/xhtml.jpg);
		background-repeat:no-repeat;
	}
.xhtml:hover
	{
		width:66px;
		height:17px;
		float: left;
		margin:0px;
		padding:1px 0 0 0;
		font-family:Arial;
		font-size:11px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/xhtml.jpg);
		background-repeat:no-repeat;
	}
.css
	{
		width:66px;
		height:18px;
		float: left;
		margin:0 0 0 5px;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/xhtml.jpg);
		background-repeat:no-repeat;
	}
.css:hover
	{
		width:66px;
		height:18px;
		float: left;
		margin:0 0 0 5px;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		color:#000;
		text-align:center;
		text-decoration:none;
		background-image:url(images/xhtml.jpg);
		background-repeat:no-repeat;
	}

/*------------------------------- MENU ----------------------------*/
.clearit {
	margin: 0;
	padding: 0;
	height: 0;
	clear: both;
}

/* BUBBLE PLASTIC HORIZONTAL MENU */

.bubplastic.horizontal {
	width: 100%;
	height: 27px;
	margin: 0;
	padding: 0;
	background: #000000 url(images/bg-bubplastic.gif) top left repeat-x;
}
.bubplastic.horizontal ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.bubplastic.horizontal ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url(images/bg-bubplastic-button.gif) top left no-repeat;
}

.bubplastic.horizontal ul li a {
	display: block;
	height: 27px;
	padding-left: 35px;
	float: left;
	text-transform: uppercase;
	font-family: "Helvetica Neue",helvetica,"microsoft sans serif",arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
}

.bubplastic.horizontal ul li a span.menu_ar {
	display: block;
	float: left;
	height: 22px;
	padding-top: 5px;
	padding-right: 35px;
	background: transparent url(images/bg-bubplastic-button.gif) top right no-repeat;
	cursor: pointer;
}
/* END BUBBLE PLASTIC HORIZONTAL MENU */



/* BUBBLE PLASTIC VERTICAL MENU */

.bubplastic.vertical {
	width: 100px;
	margin: 0px;
	margin-top:0px;
	padding: 0px;
	display: block;
}
.bubplastic.vertical ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.bubplastic.vertical ul li {
	display: block;
	float: left;
	width: 100%;
	margin: 1px;
	margin-left:22px;
	padding: 0;
	background: transparent url(images/bg-bubplastic-button.gif) top left no-repeat;
}

.bubplastic.vertical ul li a {
	display: block;
	margin: 0;
	width: 100%;
	padding-left: 35px;
	text-transform: uppercase;
	font-family: "Helvetica Neue",helvetica,"microsoft sans serif",arial,sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	text-decoration: none;
	background: transparent url(images/bg-bubplastic-button.gif) top left no-repeat;
}

.bubplastic.vertical ul li a span.menu_ar {
	display: block;
	margin: 0;
	width: 100%;
	height: 22px;
	padding-top: 6px;
	padding-right: 35px;
	background: transparent url(images/bg-bubplastic-button.gif) top right no-repeat;
	cursor: pointer;
}
/* END BUBBLE PLASTIC VERTICAL MENU */



/* AQUA HOVER */
.bubplastic.aqua ul li a:hover,
.bubplastic.aqua ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-aqua.gif) top left no-repeat;
}
.bubplastic.aqua ul li a:hover span.menu_ar,
.bubplastic.aqua ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-aqua.gif) top right no-repeat;
}


/* BLUE HOVER */
.bubplastic.blue ul li a:hover,
.bubplastic.blue ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-blue.gif) top left no-repeat;
}
.bubplastic.blue ul li a:hover span.menu_ar,
.bubplastic.blue ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-blue.gif) top right no-repeat;
}


/* GRAY HOVER */
.bubplastic.gray ul li a:hover,
.bubplastic.gray ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-gray.gif) top left no-repeat;
}
.bubplastic.gray ul li a:hover span.menu_ar,
.bubplastic.gray ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-gray.gif) top right no-repeat;
}


/* LIME HOVER */
.bubplastic.lime ul li a:hover,
.bubplastic.lime ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-lime.gif) top left no-repeat;
}
.bubplastic.lime ul li a:hover span.menu_ar,
.bubplastic.lime ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-lime.gif) top right no-repeat;
}


/* ORANGE HOVER */
.bubplastic.orange ul li a:hover,
.bubplastic.orange ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-orange.gif) top left no-repeat;
}
.bubplastic.orange ul li a:hover span.menu_ar,
.bubplastic.orange ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-orange.gif) top right no-repeat;
}


/* PINK HOVER */
.bubplastic.pink ul li a:hover,
.bubplastic.pink ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-pink.gif) top left no-repeat;
}
.bubplastic.pink ul li a:hover span.menu_ar,
.bubplastic.pink ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-pink.gif) top right no-repeat;
}


/* PURPLE HOVER */
.bubplastic.purple ul li a:hover,
.bubplastic.purple ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-purple.gif) top left no-repeat;
}
.bubplastic.purple ul li a:hover span.menu_ar,
.bubplastic.purple ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-purple.gif) top right no-repeat;
}


/* RED HOVER */
.bubplastic.red ul li a:hover,
.bubplastic.red ul li.highlight a {
	background: transparent url(images/bg-bubplastic-h-red.gif) top left no-repeat;
}
.bubplastic.red ul li a:hover span.menu_ar,
.bubplastic.red ul li.highlight a span.menu_ar {
	background: transparent url(images/bg-bubplastic-h-red.gif) top right no-repeat;
}




/*----------------Tabla-eventos-----------------------------------------------------------------------------------------------------END---------*/		



.tablaEventos{
  position: center;
  border:1px solid #95844d;
}
.tablaEventos table{
  width:50%;
}

.tablaEventos th{
  height:40px;
  color:white;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:120%;
  background-color:#95844d;
}
.tablaEventos td{
  color:#95844d;
  height:30px;  width:100%;
  height:100%;
  background-image:url(images/top_bg.gif);
  background-position:top left;
  background-repeat:repeat-x
  text-align:center;
  font-size:100%;
}
#foro{
  position:relative;
  padding:0% 0% 0% 48%;
  font-family:Arial;
  font-size:22px;
  text-align:center;
}

/* Menu  */



.main_cont
{
    
    width:150px;
    background-color:#193905;
    padding:10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_top_bg
{
    padding:0px;
    margin:0px;
}

.menu_top_bg li
{
    width:150px;
    background:url(images/menu_top_bg.gif) repeat-x;
    height:22px;
    padding-top:8px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    margin-bottom:1px;
}

.menu_top_bg li a
{
    text-decoration:none;
    color:#ffffff;
}





.sub_menu ul
{

}

.sub_menu ul li
{
    width:115px;
    background:url(images/menu_top_bg.gif) repeat-x;
    height:15px;
    padding-top:8px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    margin-bottom:2px;
}

.sub_menu ul li a
{
    text-decoration:none;
    color:#888888;
}

   
/**/
